<div class="content">
<h3>Customer Details</h3>
  <table class="table table-striped table-hover" >
    <tbody>
    <tr>
      <td> Name</td>
      <td>{{customer.name}}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{customer.age}}</td>
    </tr>
    <tr>
    <td>Description</td>
      <td>{{customer.description}}</td>
    </tr>
    <tr>
     <td>Mobile Number</td>
      <td>{{customer.mobileNo}}</td>
    </tr>
    <tr>
     <td>Type</td>
      <td>{{customer.type}}</td>
    </tr>
    <tr>
      <td>Is a Loyality Programme Member</td>
      <td>{{customer.loyal}}</td>
    </tr>
    <tr>
     <td>Charges</td>
     <td>{{customer.charges}}</td>
    </tr>
  <tr>
     <td>Number of Employee</td>
     <td>{{customer.employees}}</td>
    </tr>
  <tr>
     <td>Distance Travelled</td>
     <td>{{customer.distance}}</td>
    </tr>
    </tbody>
</table> 
<button class="btn btn-primary" (click)="goback()">Back</button>
</div>